:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --header-slider-background: #eeeeee;
  --header-slider-button-background: #fb565a;
  --header-slider-button-background-hover: #e74246;
  --product-card-button-green: #00ca74;
  --product-card-button-green-hover: #00bc6c;
  --product-card-button-yellow: #efc84a;
  --product-card-button-yellow-hover: #eab534;
  --stats-item-name: #283136;
  --filter-inputs: #bdc3c7;
  --filter-form-button: #ededed;
  --filter-form-button-hover: #dfdfdf;
  --filter-form-button-active-background: #d5d5d5;
  --filter-form-button-active: #9d9d9d;
  --range-controls: #f1f1f1;
  --range-controls-scale: #d7dcde;
  --range-controls-toggle: #ababab;
  --range-controls-toggle-shadow: #cfcfcf;
  --sorting-list: #b2b2b2;
  --sorting-list-hover: #666666;
  --sorting-controls-icon: #a6a6a6;
  --sorting-controls-icon-hover: #010101;
  --catalog-items: #e9e9e9;
  --catalog-items-hover: #4d4d4d;
  --hidden-info: #6f6f6f;
  --pagination: #f2f2f2;
  --discount: #444444;
  --social-icons: #e1e1e1;
  --contacts-button-hover: #d6494d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

.wrapper-header, .wrapper-slider {
  background-color: var(--header-slider-background);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  opacity: .8;
}

.logo:visited {
  opacity: .3;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  list-style-type: none;
  width: 440px;
}

.menu-item, .shopping-cart {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: 0.35px;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.menu-item:hover, .shopping-cart:hover {
  color: var(--header-slider-button-background);
}

.menu-item:visited, .shopping-cart:visited {
  opacity: .3;
}

.shopping-cart {
  position: relative;
  padding-left: 65px;
}

.shopping-cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: relative;
  background: url(../img/basket-icon.svg);
  right: 23px;
  opacity: .3;
}

.main-slider {
  width: 1160px;
  margin: 0 auto 80px;
  list-style-type: none;
  display: flex;
}

.slider-item__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 28px;
}

.slider-item__description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 37px;
}

.slider-item__button {
  background-color: var(--header-slider-button-background);
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 80px;
  width: 240px;
  height: 50px;
}

.slider-item__button:hover {
  background-color: var(--header-slider-button-background-hover);
}

.slider-item.first {
  width: 1160px;
  display: flex;
  position: relative;
  flex-direction: column;
  background: url(../img/slide-picture-1.png) no-repeat right center;
  background-position-x: 433px;
  background-position-y: 16px;
  padding-top: 75px;
}

.slider-item.second, .slider-item.third {
  display: none;
}

.divider {
  width: 1160px;
  margin: 0 auto;
  height: 2px;
  background-color: var(--header-slider-background);
  border: 0;
}

.product {
	list-style-type: none;
}

.product-list {
  width: 1160px;
  margin: 0 auto 80px;
}

.product {
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.product-card__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 26px 0 16px;
}

.product-card__description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05;
  max-width: 82%;
  margin-bottom: 33px;
}

.product-card__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__button.red {
  background-color: var(--header-slider-button-background);
}

.product-card__button.red:hover {
  background-color: var(--header-slider-button-background-hover);
}

.product-card__button.green {
  background-color: var(--product-card-button-green);
}

.product-card__button.green:hover {
  background-color: var(--product-card-button-green-hover);
}

.product-card__button.yellow {
  background-color: var(--product-card-button-yellow);
}

.product-card__button.yellow:hover {
  background-color: var(--product-card-button-yellow-hover);
}

.wrapper-about {
  width: 1160px;
  display: flex;
  margin: 40px auto 45px;
}

.about {
  width: 650px;
  margin-top: 33px;
  margin-right: 150px;
}

.about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 33px;
}

.about-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 38px;
}

.services {
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
}

.services-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
}

.services-item::before {
  content: '';
  position: absolute;
  width: 25px;
  left: 0;
  top: 10px;
  height: 2px;
  background-color: var(--header-slider-button-background);
}

.services.title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.stats {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.stats-logo {
  margin-bottom: 35px;
}

.stats-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 49px;
}

.stats-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.stats-item {
  display: flex;
  flex-direction: column;
  padding-right: 26px;
}

.stats-item:last-child {
  padding: 0;
}

.percent-symbol {
  font-size: 24px;
}

.stats-item__percent {
  font-size: 45px;
  font-weight: bold;
  line-height: 0.22;
  color: var(--basic-black);
  text-transform: lowercase;
  margin-bottom: 40px;
}

.stats-item__name {
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: var(--stats-item-name);
}

.clients {
  width: 1160px;
  height: 180px;
  border-top: 2px solid var(--header-slider-background);
  border-bottom: 2px solid var(--header-slider-background);
  margin: 15px auto 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-list {
  width: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.clients-list li:nth-child(1) {
  margin-left: 31px;
  margin-top: 15px;
}

.clients-list li:nth-child(2) {
  margin-top: 10px;
  margin-left: 95px;
}

.clients-list li:nth-child(3) {
  margin-left: 104px;
  margin-top: 5px;
}

.clients-list li:nth-child(4) {
  margin-top: 14px;
  margin-left: 121px;
}

.clients-list a {
  display: block;
  opacity: 0.2;
  transition: opacity 0.6s ease;
}

.clients-list a:hover {
  opacity: 1;
}

.wrapper-title {
  width: 100%;
  background-color: var(--header-slider-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: var(--basic-black);
  max-width: 1160px;
  margin: 73px auto 116px;
}

.wrapper-content {
  width: 1160px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.filters {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-right: 140px;
}

.filters ul li {
  list-style-type: none;
}

.filters input[type="radio"], .filters input[type="checkbox"] {
  display: none;
}

.filters input[type="radio"] + label::before, .filters input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  border: 3px solid var(--basic-white);
  box-shadow: 0 0 0 3px var(--filter-inputs);
  left: 0;
}

.filters input[type="radio"] + label::before {
  border-radius: 50%;
}

.filters input[type="checkbox"] + label::before {
  border-radius: 3px;
}

.filters input[type="radio"]:checked ~ label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--filter-inputs);
  top: 4px;
  left: 4px;
}

.filters input[type="checkbox"]:checked ~ label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  left: 0px;
  top: -6px;
  border: 5px solid var(--filter-inputs);
  border-top-color: transparent;
  border-right-color: transparent;
  transform:rotate(-45deg);
}


.filter-item, .grid-item, .filter-special {
  padding: 0;
  border: none;
}

.filter-item {
  margin: 0 0 58px;
}

.grid-item, .filter-special {
  margin: 0 0 26px;
}

.range-filter {
  margin-top: 49px;
}

fieldset legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 21px;
}

fieldset.filter-item legend {
  margin-bottom: 0px;
}

.filter-form fieldset label {
  font-size: 16px;
  position: relative;
  color: var(--stats-item-name);
  transition: color 0.6s ease;
  display: inline-block;
  margin-bottom: 21px;
  padding-left: 35px;
  cursor: pointer;
}

.filter-form-button {
  width: 260px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--filter-form-button);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.filter-form-button:hover {
  background-color: var(--filter-form-button-hover);
}

.filter-form-button:active {
  background-color: var(--filter-form-button-active-background);
  color: var(--filter-form-button-active);
}

.range-controls {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  padding: 39px 20px;
  background-color: var(--range-controls);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-controls-scale);
}

.range-controls .bar {
  width: 65%;
  height: 2px;
  background: var(--product-card-button-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-controls-toggle);
  box-shadow: 0 2px 1px 0 var(--range-controls-toggle-shadow);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 12px;
  margin-left: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: var(--stats-item-name);
  border: none;
  border-radius: 5px;
  background: var(--range-controls);
}

.max-price {
  text-align: right;
}

.main-content {
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sorting {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sorting-title {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.sorting-list {
  max-width: 63%;
  margin-left: 171px;
}

.sorting-list li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 22px;
  cursor: pointer;
  color: var(--sorting-list);
  text-transform: uppercase;
}

.sorting-list li:hover {
  color: var(--sorting-list-hover);
}

.sorting-list li:active, .sorting-list li:focus {
  color: var(--basic-black);
}

.sorting-list li:last-child {
  margin-right: 0;
}

.sorting-controls {
  position: relative;
}

.sorting-controls .icon-down-dir {
  position: absolute;
  display: block;
  border: 5px solid var(--sorting-controls-icon);
  border-top-width: 10px;
  border-right-color: transparent;
  border-bottom-width: 0px;
  border-left-color: transparent;
  right: 20px;
  top: 5px;
  margin-right: 10px;
}

.sorting-controls .active, .sorting-controls .icon-down-dir:hover {
  border: 5px solid  var(--sorting-controls-icon-hover);
  border-top-width: 10px;
  border-right-color: transparent;
  border-bottom-width: 0px;
  border-left-color: transparent;
}

.sorting-controls .icon-up-dir:hover {
  border: 5px solid var(--sorting-controls-icon-hover);
  border-top-width: 0px;
  border-right-color: transparent;
  border-bottom-width: 10px;
  border-left-color: transparent;
}

.sorting-controls .icon-up-dir {
  position: absolute;
  display: block;
  border: 5px solid var(--sorting-controls-icon);
  border-top-width: 0px;
  border-right-color: transparent;
  border-bottom-width: 10px;
  border-left-color: transparent;
  right: 0px;
  top: 5px;
}

.items li {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  list-style-type: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: background 0.6s ease;
  background-color: var(--catalog-items);
  position: relative;
  min-width: 360px;
  max-height: 615px;
  margin-bottom: 33px;
}

.items li:nth-child(odd) {
  margin-right: 36px;
}

.items li:hover {
  background-color: var(--catalog-items-hover);
}

.hidden-info {
  opacity: 0;
  z-index: 0;
  position: absolute;
  transition: all 0.3s ease;
  bottom: 0;
  width: 100%;
  min-height: 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  background-color: var(--header-slider-background);
}

.hidden-info h3 {
  margin-top: 30px;
}

.hidden-info h3 a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hidden-info h3 a:hover {
  color: var(--header-slider-button-background);
}

.items li:hover .hidden-info {
  z-index: 1;
  opacity: 1;
}

.hidden-info p {
  color: var(--hidden-info);
  margin-top: 18px;
  max-width: 180px;
  text-align: center;
}

.hidden-info a.hidden-info-button {
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--header-slider-button-background);
  border-radius: 2px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 50px;
}

.hidden-info a.hidden-info-button:hover {
  background-color: var(--header-slider-button-background-hover);
}

.item-header {
  position: relative;
  font-size: 0;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-top: 12px;
}

.item-header span {
  display: inline-block;
  background-color: var(--basic-white);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.pagination {
  width: 100%;
  margin-top: 32px;
}

.pagination a.num {
  font-size: 16px;
  line-height: 34px;
  background-color: var(--pagination);
  border: 3px solid var(--pagination);
  border-radius: 3px;
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  margin-bottom: 5px;
}

.pagination a.num:hover, .pagination a.num.active:hover {
  background-color: var(--filter-form-button-hover);
  border-color: var(--filter-form-button-hover);
}

.pagination a.num.active {
  background: var(--basic-white);
}

.pagination .next {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 34px;
  background-color: var(--pagination);
  border-radius: 3px;
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  width: 260px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.pagination .next:hover {
  background-color: var(--filter-form-button-hover);
}

.wrapper-map {
  width: 100%;
  display: flex;
  height: 416px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.wrapper-map.contacts-map {
  margin-top: 50px;
}

.wrapper-contacts {
  display: flex;
  width: 1160px;
  position: absolute;
  z-index: 1;
}

.wrapper-form {
  width: 320px;
  height: 308px;
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: center;
}

.contacts {
  margin: 0 auto;
  padding: 0 50px;
}

.contacts-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  margin-top: 10px;
  margin-bottom: 27px;
}

.contacts-adress {
  font-size: 16px;
  line-height: 1.13;
  color: var(--sorting-list-hover);
  margin-bottom: 39px;
  max-width: 92%;
}

.contacts-adress-link {
  color: var(--sorting-list-hover);
  text-decoration: none;
  padding-top: 15px;
  display: flex;
}

.contacts-button, .feedback-button {
  background-color: var(--header-slider-button-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  width: 219px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  margin: 0 auto;
  cursor: pointer;
}

.contacts-button:hover, .feedback-button:hover {
  background-color: var(--contacts-button-hover);
}

.map-marker {
  width: 231px;
  height: 190px;
  position: absolute;
  top: 40px;
  right: 250px;
}

.footer {
  height: 217px;
  display: flex;
  align-items: center;
}

.wrapper-footer {
  width: 1160px;
  display: flex;
  margin: 20px auto 0;
}

.social-icons {
  display: flex;
  margin-right: 128px;
  list-style-type: none;
}

.social-icons__item {
  background-color: var(--social-icons);
  width: 79px;
  height: 79px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
}

.social-icons__item:hover {
  background-color: var(--header-slider-button-background);
}

.social-icons__item a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: var(--basic-black);
  margin-bottom: 12px;
}

.discount {
  font-size: 16px;
  line-height: 1.38;
  color: var(--discount);
}

.feedback {
  background-color: var(--basic-white);
  opacity: 0;
  position: fixed;
  width: 960px;
  height: 590px;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
  padding: 54px 50px 50px 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.feedback-form-show {
  opacity: 1;
  z-index: 40;
}

.close-feedback {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: absolute;
  right: 108px;
  top: 67px;
  cursor: pointer;
  background: url(../img/close-cross.png);
}

.feedback-name, .feedback-mail, .feedback-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.feedback-title {
  font-size: 45px;
  margin-bottom: 50px;
}

.feedback p.full-width {
  width: 100%;
}

.feedback label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.feedback p.full-width {
  width: 100%;
}

.feedback label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.feedback input, .feedback textarea {
  width: 360px;
  height: 50px;
  border: 2px solid var(--range-controls-scale);
  border-radius: 3px;
  padding: 0 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 40px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(186, 186, 186, .5);
}

.feedback input::-webkit-input-placeholder {
  color: rgba(186, 186, 186, .5);
}

.feedback textarea::-webkit-input-placeholder {
  color: rgba(186, 186, 186, .5);
}

.feedback input::-moz-placeholder {
  color: rgba(186, 186, 186, .5);
}

.feedback input::-moz-placeholder {
  color: rgba(186, 186, 186, .5);
}

.feedback input:-moz-placeholder {
  color: rgba(186, 186, 186, .5);
}

.feedback input:-moz-placeholder {
  color: rgba(186, 186, 186, .5);
}

.feedback input:-ms-input-placeholder {
  color: rgba(186, 186, 186, .5);
}

.feedback input:-ms-input-placeholder {
  color: rgba(186, 186, 186, .5);
}

.feedback textarea {
  width: 764px;
  min-height: 115px;
  margin-right: 0;
  resize: none;
  padding-top: 9px;
  padding-bottom: 12px;
}

.feedback input:hover, .feedback textarea:hover {
  border-color: #a2a9ac;
}

.feedback-text {
  margin-top: 22px;
  margin-bottom: 47px;
}